.wpcf7-signaturewpcf7-validates-as-signaturedscf7-signature {
    height: 100px;
    text-align: center;
}

.wpcf7-textarea {
    width: 100%;
}

.as-signature-input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    text-align: center;
}

.as-signature-wrapper {
    display: inline-block;
    position: relative;
}